@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body{
	background-color: white;
	color: black;
	font-size: 15px; 
	font-family: 'Ubuntu Mono', monospace;
	padding: 0px;
	margin: 0px;

}

.nav{
	background: rgb(255,31,99);
background: linear-gradient(90deg, rgba(255,31,99,1) 0%, rgba(255,255,255,0.7847514005602241) 41%, rgba(0,212,255,1) 70%);	color: white;
}

.nav ul{
	list-style: none;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;

	display: flex;
  justify-content: center;
}

.nav ul li{	
	padding: 16px;
	text-align: center;
	font-size:1.2rem;
	margin: 10px 10px;
	transition: 1s;
	color: rgb(0,0,0,0.5);
}

.nav ul li > a{		
	color: rgb(0,0,0,0.5);
}

.nav ul li:hover{	
	background-color: rgb(0,0,0,0.5);	
	transform: rotateX(30deg);
	color: rgb(255,255,255,0.9);
	cursor: pointer;
}

.image-area{
	background-image: url('/images/strangerThns.png');
	padding-top: 200px;
	padding-bottom: 200px;
	/*background-size: cover;*/	
	box-shadow: 0 2px 5px rgba(1,2,1,0.5);
}

.image-text{
	text-align: center;
	background-color: rgba(255,2,1,0.5);
	color: white;
	font-size: 2.5rem;
	 font-family: inherit;
	 max-width: 1020;
	 padding: 0px auto;
	 margin: 0px auto;
}


.intro-text{
	background-color: rgba(255,2,1,0.5);
	max-width: 1020;
	padding: 20px 10px;
	color: #fff;
	font-family: inherit;
	font-size: 1.5rem;
	text-align: center;;	
	box-shadow: 0 2px 5px rgba(1,2,255,0.5);
	margin-bottom: 20px;
}

.Services{
	/*max-width: 100%;
	margin: 0px 16px;
	padding: 0px auto;
	align-items: center;
	justify-content: center;

	width: 100%;
	 display: grid;
	  grid-column-gap: 70px;
	 grid-template-columns: 700px;

	font-family: 'Ubuntu Mono', monospace;
	background-color: #9b59b6;
	display: grid;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin:0;*/

font-family: 'Ubuntu Mono', monospace;
	background-color: #9b59b6;
	
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin:0;
	background: linear-gradient(90deg, rgba(255,31,99,1) 0%, rgba(255,255,255,0.7847514005602241) 41%, rgba(0,212,255,1) 70%);	color: white;
}

.single-service{	
	margin-bottom:  30px;	
	padding: auto auto;	
	box-shadow: 0 2px 5px rgba(1,2,1,0.5);
	width: 70%;border:2px #eee solid;
}

.single-service p{	
	color:rgb(0,0,0,0.5);
	padding: 5px;
}

@media screen and (min-width: 700px){

}
